.section {
  padding: 100px 20px;
  background: #F5F7FF;
}

.container {
  width: 100%; 
  max-width: 887px;      
  margin: 0 auto;

  display: grid;
  grid-template-columns: 330px 1fr; 
  align-items: center;
  gap: 40px;
}


.left {
  max-width: 330px;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;         
  font-size: 18px;
  color: #3D4F9F;
  margin-bottom: 12px;
}

.desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;         
  font-size: 14px;
  line-height: 1.8;
  color: #8A97B8;
}



.form {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  justify-content: flex-end;
}

.input::placeholder {
  color: #7A85AD;
  font-weight: 500;
}
.input {
  width: 279px;
  height: 59px;

  padding: 0 20px;

  border: none;
  border-radius: 5px;

  background: #EFEFF7;

  font-size: 13px;
  font-weight: 600;
  color: #7A85AD;
  outline: none;
}



.button {
  width: 184px;
  height: 59px;

  border: none;
  border-radius: 5px;

  background: linear-gradient(
    90deg,
    #5E80FE,
    #4C6FFF
  );

  color: #ffffff;
  font-size: 13px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {

  .section {
    height: auto;
    padding: 60px 20px;
  }

  .container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 28px;
  }
 .left {
    margin: 0 auto;
    max-width: 320px;
  }
  .form {
    flex-direction: column;
    align-items: center;
  }
 .input {
    width: 100%;
    max-width: 320px;
  }
  .button {
    width: 100%;
    max-width: 160px;
  }
}
