.section{
   background: linear-gradient(
    180deg,
    #f5f7ff 0%,
    #eef1ff 100%
  );
  overflow: hidden;
  padding: 120px 0;
}

.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 653px;
  align-items: center;   
  gap: 20px;            
}


.content{ 
  max-width: 420px;
 }

.kicker{
  margin: 0 0 18px;
  font-size: 11px;
  letter-spacing: 0.18em;
  font-weight: 700;
  text-transform: uppercase;
  color: #3D4F9F;
}

.title{
  margin: 0 0 22px;
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  line-height: 1.25;
  font-weight: 400;
  color: #3D4E78;
}

.titleStrong{ font-weight: 700; }

.text{
   margin-bottom: 52px;
  font-size: 15px;
  line-height: 2;
  color: rgba(143,160,200,0.95);
    max-width: 413px;  
}


.actions{
  display:flex;
}

.btnPrimary{
  height: 43px;
  padding: 0 32px;
  border: none;
  border-radius: 4px 0 0 4px;
  background: #4C6FFF;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 12px 22px rgba(76,111,255,0.25);
}

.arrow{
  margin-left: 8px;
  font-size: 12px;
  color: #ffffff;
}

.btnGhost{
  height: 43px;
  padding: 0 32px;
  border-radius:0 4px 4px 0;
  border: 1px solid rgba(94,128,254,0.25);
  border-left: none;
  background: transparent;
  color: rgba(61,78,120,0.65);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.media{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 620px;
    transform: translateY(70px);
}

.illustration{
  width: 753px;
  height: auto;
  display: block;
}

@media (max-width: 900px){
  .grid{
    grid-template-columns: 1fr;
    gap: 48px;
    text-align: center;
  }

  .content{
    margin: 0 auto;
  }

  .media{
    justify-content: center;
    transform: none;
  }

  .illustration{
    width: min(653px, 100%);
  }
}












