.section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
}

.subtitle {
  font-size: 10px;
  letter-spacing: 2px;
  color: #3D4F9F;
  font-weight: 600;
  margin-bottom: 10px;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #2d3e6f;
  text-align: center;
  margin-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}
.card {
  padding: 10px 20px;
}
.card h3 {
  margin: 10px 0;
  color: #4074F8;
  font-weight: 600;
  font-size:14px;
}

.card p {
  font-size: 11px;
  color: #ADB3CB;
  line-height: 1.7;
   max-width: 120px;
  margin: 0 auto;
}

.iconWrap {
  width: 69px;
  height: 69px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: #F1F5FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrap img {
  width: 28px;
  height: 28px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.orWrap {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #9aa6c5;
  font-size: 12px;
  font-weight: 600;
}


.orWrap::before,
.orWrap::after {
  content: "";
  width: 30px;
  height: 1px;
  background: #d6def5;
  display: block;
}
.btnPrimary {
  background: #FFD7D7;
  color: #D43F3F;
  font-size:13px;
  font-weight: 600;
  border: none;
  padding: 12px 26px;
  border-radius: 4px;
}

.btnSecondary {
  background: #D2E1FF;
  color: #3A79FF;
  font-size:13px;
  font-weight: 600;
  border: none;
  padding: 12px 26px;
  border-radius: 4px;
}


@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .title {
   font-size: 22px;
    margin-bottom: 50px;
  }
}



@media (max-width: 576px) {
  .section {
    padding: 60px 15px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .cardText {
    max-width: 260px;
  }

  .title {
     font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .actions {
    flex-direction: column;
    gap: 15px;
  }

  .orWrap::before,
  .orWrap::after {
    width: 25px;
  }
}