.footer {
  background: #F5F7FF;
  padding: 60px 20px 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.left {
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #5E80FE;
}


.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: #8A97B8;
  transition: 0.25s;
}

.nav a:hover {
  color: #3D4F9F;
}


.right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socials img {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.25s;
}

.socials img:hover {
  opacity: 1;
}


.btn {
  width: 150px;
  height: 43px;

  border: none;
  border-radius: 4px;

  background:#D2E1FF;
  color: #3A79FF;

  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background: #dfe5f2;
}

.copy {
  margin-top: 30px;

  font-size: 12px;
  color: #AAB3D1;
  text-align: left;
  padding-left: 212px;
}

@media (max-width: 768px) {


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  
  .top {
    flex-direction: column;
    gap: 24px;
  }


  .left {
    flex-direction: column;
    gap: 18px;
  }

  
  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  
  .right {
    flex-direction: column;
    gap: 18px;
  }

 
  .copy {
    text-align: center;
    padding-left: 0;  
    margin-top: 20px;
  }
}

